@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*,::before,::after
{
	box-sizing: border-box;
}

html
{
	scroll-behavior: smooth;
}

body
{
	margin: 3rem 0 0 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.838rem;
	color: #101010;
	line-height: 1.6;
}

h1, h2, p
{
	margin: 0;
}

ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}

a
{
	text-decoration: none;
	color: #101010;
}

img
{
	max-width: 100%;
	height: auto;
}

/* Class CSS */
section
{
	margin: 3rem 0;
}

footer {
	background-color: #101010;
	color: #f0f0f0;
	padding: 3rem 0;
}

.bd-grid {
	max-width: 1024px;
	display: grid;
	grid-template-columns: 100%;
	grid-column-gap: 2rem;
	width: calc(100% - 3rem);
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

.nav-toggle {
	display: flex;
	width: 70px;
	align-items: center;
	justify-content: space-between;
}

@media screen and (min-width: 768px) {
	body {
		margin: 0;
	}
	.bx-menu {
		display: none;
	}
}

@media screen and (min-width: 1024px) {
	.bd-grid {
		margin-left: auto;
		margin-right: auto;
	}
}